---
// component imports
import { Icon } from "astro-icon/components";
import Link from "../components/Link.astro";
import socialData from "../data/socialData";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About" description="My About Page">
  <section class="container about" aria-label="About Me">
    <img
      src="/images/headshot.jpeg"
      alt="My headshot"
      width="200"
      height="330"
    />
    <div class="content">
      <h1 class="h1">About Me</h1>
      <p>
        My name is <b>Kushal Bhargava</b> and I am a versatile Software Engineer and Full Stack Developer who adapts to any tech stack with ease. 
        Always eager to learn, I stay updated with the latest technologies to build efficient, 
        user-friendly solutions.
      </p>
      <div class="social">
        {
          socialData.map(ele => (
            <a href={ele.href}>
              <Icon name={ele.icon} size={50}/>
            </a>
          ))
        }
      </div>
      <div class="social">
        <Link
          href=""
          style="secondary"
          text="Resume"
        />
        <Link
          href="mailto:kushal.bhargava01@gmail.com"
          style="primary"
          text="Contact Me"
       />
      </div>
    </div>
  </section>
</MainLayout>