---
import { getCollection } from "astro:content";
import { formatBlogPosts, slugify } from "../js/utils";

interface PostData {
  category: string;
}

interface FormattedPost {
  data: PostData;
}

type CategoryCount = Record<string, number>;

const allPosts = await getCollection('blog');

const formattedPosts = formatBlogPosts(allPosts);

const allCategories = formattedPosts
  .map((cat : FormattedPost) => cat.data.category.toLowerCase())
  .flat();

const processedCats = allCategories.reduce((acc : CategoryCount, category : string) => {
  // check if the category exists in the acc
  const value = acc[category] || 0;

  return {
    ...acc,
    [category]: value + 1
  }
}, {})

const { showCount } = Astro.props;

---

<ul class="categories">
  {
    Object.entries(processedCats).map(([key, val]) => (
      <li>
        <a class="badge" href={`/category/${slugify(key)}/`}>{key} {showCount && `(${val})`}</a>
      </li>
    ))
  }
</ul>