---
import { Icon } from "astro-icon/components";
import socialData from "../data/socialData";

---

<footer>
  <div>
    <small>
      Copyright &copy; <span id="copyright"></span> | All rights reserved
    </small>
    <small>
      <div class="social">
        {
          socialData.map(ele => (
            <a href={ele.href}>
              <Icon name={ele.icon} size={25}/>
            </a>
          ))
        }
      </div>
    </small>
    <small>
      <a href="/rss.xml">
        Subscribe to RSS
        <Icon name="tabler:rss" width="20" height="20" />
      </a>
    </small>
  </div>
  </footer>
  
  <script>
    const copyrightElement = document.querySelector("#copyright");
    if (copyrightElement) {
        copyrightElement.textContent = new Date().getFullYear().toString();
    }
  </script>